body	{
	font-family: 'Open Sans', sans-serif;
	color: #022140;
	width: 720px;
	padding: 60px;
	margin:0;
}

div	{
	padding: 0;
	margin: 0;
}

p	{
	line-height: 25px;
	padding-top: 0;
	padding-bottom: 5px;
	margin: 0;
}
  

h1	{
	font-size: 24pt;
	font-weight: normal;
	border-bottom: 1px solid;
	padding-bottom: 3px; 
}

h2	{
	font-size: 16pt;
	font-weight: bold;
	line-height: 40px;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 3px;
}

h3	{
	font-size: 12pt;
	font-weight: bold;
	line-height: 25px;
	padding-top: 15px;
	padding-bottom: 5px;
	margin: 0;
}

h4	{
	font-size: 12pt;
	font-weight: bold;
	line-height: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
}

subhead-space {
	padding-top: 15px;
	padding-bottom: 5px;
	margin: 0;
}

.hanging	{
	padding-left: 20px;
    text-indent: -20px;
}

.display-label	{
	font-weight: bold;
	display: inline-block;
	width: 100px;
	padding: 0;
	margin: 0;
}
               
.display-field	{
	display: inline-block;
	vertical-align: top;
	max-width: 560px;
	padding: 0;
	margin: 0;
}             

.display-tab	{
	margin-left: 104px;
	vertical-align: top;
	padding: 0;
}       

.indented	{
	padding-left: 30px;
	display: inline-block;
	vertical-align: top;
	max-width: 620px;
}

.narrow-space	{
	display: inline-block;
	vertical-align: top;
	width: 240px;
	padding: 0;
	margin: 0;
}

.narrower-space	{
	display: inline-block;
	vertical-align: top;
	width: 170px;
}

ul	{
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}

ul li	{
	font-weight: normal;
	line-height: 25px;
	padding-bottom: 5px
}


ol	{
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}

ol li	{
	font-weight: bold;
	line-height: 25px;
	padding-bottom: 5px;
}

li span {
    font-weight: normal;
}		

ol ol li	{
	font-weight: normal;
	list-style-type: disc;
}


ol em	{
	font-weight: normal;
}

ol ul li	{
	font-weight: normal;
	list-style-type:disc;
}
	      
li	{
	line-height: 25px;
}

em	{
	line-height: inherit;
}

.bluebox	{
	background-color: #CCECFF;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.centered	{
	display: block;
	margin-left: auto;
	margin-right: auto;
	vertical-align: top;
}

.centered-labels	{
	display: inline-block;
	vertical-align: top;
	min-width: 140px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.dashed	{
	border-top: 1px;
	border-style: dashed;
}

.space	{
	margin-top: 10px;
	margin-bottom: 10px;
}

.note	{
	font-style: italic;
	margin-top:10px;
}

.centre {
	text-align:center;
	display:inline;	
}

#indent1 {
	margin-left: 250px;
}

#indent2 {
	margin-left: 350px;
}
